<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ihr Rezept wurde freigeschaltet!</title>
</head>
<body>
    <h1>Ihr Rezept wurde freigeschaltet!</h1>
    <p>Sehr geehrte/r {{ name }},</p>
    <p>wir freuen uns Ihnen mitteilen zu können, dass Ihr Rezept "{{ recipe_name }}" genehmigt und veröffentlicht wurde. </p>
    <p>Als Dankeschön für Ihren nächsten Einkauf erhalten Sie einen Gutscheincode über 20 Euro.</p>
    <p>Ihr Gutschein lautet: <strong>{{ voucher_code }}</strong></p>
    <p>Einzulösen in unseren Onlineshop auf alle Produkte der Grillfürst Eigenmarke.</p>
    <p><a href="{{ shop_url }}/Eigenmarke"> {{ shop_url }}/Eigenmarke </a></p>
    <p>Vielen Dank für das Teilen Ihres leckeren Rezepts!</p>
    <p>Beste Grüße,<br>Ihr Grillfürst Team</p>
</body>
</html>
