<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ihr Rezept wurde freigeschaltet!</title>
</head>
<body>
    <h1>Ihr Rezept wurde freigeschaltet!</h1>
    <p>Sehr geehrte/r {{ name }},</p>
    <p>wir freuen uns Ihnen mitteilen zu können, dass Ihr Rezept "{{ recipe_name }}" genehmigt und veröffentlicht wurde. </p>
    <p>Als Dankeschön für Ihren nächsten Einkauf erhalten Sie einen Gutscheincode über 20 Euro.</p>
    <p>Ihr Gutschein lautet: <strong>{{ voucher_code }}</strong></p>
    <p>Einzulösen in unseren Onlineshop auf alle Produkte der Grillfürst Eigenmarke.</p>
    <p><a href="{{ shop_url }}/Eigenmarke"> {{ shop_url }}/Eigenmarke </a></p>
    <p>Vielen Dank für das Teilen Ihres leckeren Rezepts!</p>
    <p>Beste Grüße,<br>Ihr Grillfürst Team</p>
    <p>
        Tel: 06621 / 4320900<br>
        Web: <a href="https://www.grillfuerst.de">www.grillfuerst.de</a><br>
        <br>
        Grillfürst GmbH<br>
        Friedewalder Str. 24, 36251 Bad Hersfeld<br>
        Geschäftsführer: Joachim Weber, Ralf Geishauser<br>
        <br>
        Sitz und Registergericht Fulda<br>
        Amtsgericht Fulda HRB 5901, USt.-Ident.Nr.: DE 815245245<br>
        <br>
        Impressum: <a href="https://www.grillfuerst.de/Impressum.php">https://www.grillfuerst.de/Impressum.php</a><br>
        Für alle Angebote und Verträge die per Mail oder Telefon vereinbart werden gelten unsere AGB (<a href="http://www.grillfuerst.de/agb.php">http://www.grillfuerst.de/agb.php</a>).
    </p>
</body>
</html>
